/* CODE */

code, code * {
    font-size: 17px !important;
    font-family: "SF Mono", "Consolas", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace !important;
}

.highlighter-rouge {
    background-color: #f6f8fa;
    margin: 0 1em 1em;
}

p code.highlighter-rouge, li code.highlighter-rouge {
    margin: auto;
}

.article > .highlighter-rouge {
    padding: 0.4em;
}
