

        <div class="footer">
                <div class="fullheight flex-row">
                    <div class="flex-auto center">
                        <div>
                            <a href="https://github.com/hexalang">Hexa</a> by
                            <a href=https://github.com/PeyTy>Oleg</a> &copy; 2018
                        </div>
                    </div>
                    <div class="center flex-row">
                        <a href="https://twitter.com/hexalang" class="btn btn-blue">Twitter</a>
                        <a href="https://github.com/hexalang" class="btn btn-black">GitHub</a>
                        <a href="https://www.patreon.com/PeyTy" class="btn btn-red">Patreon</a>

                    </div>
                </div>
            </div>
