<div class="header">
    <div class="navbar flex-end">
        <div class="flex-row">
            <a href="/try" class="navbar-btn">Try</a>
            <a href="/book" class="navbar-btn">Learn</a>
            <a href="#install" class="navbar-btn">Install</a>
            <a href="/blog" class="navbar-btn">Blog</a>
            <a href="https://github.com/hexalang" class="navbar-btn">GitHub</a>
            <a href="/donate" class="navbar-btn">Donate</a>
        </div>
    </div>

    <a href="https://github.com/hexalang">
        <a href="https://hexalang.github.io"><img width="191px" height="191px" src="/hexa-index.png" /></a>
        <br/>Hexa Programming Language
        <br/>Ensures safety, simplicity and performance
        <br/>
        <br/>
    </a>
</div>
