---
---
<!doctype html>

<head>
    <title>Donate | Hexa</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="yandex-verification" content="901ce5f7e68b781c" />
    <meta name="google-site-verification" content="r9QR0nzVoCSoh04LhsLau403jbzC4weuqk0ypB1LD1g" />
    <meta name="viewport" content="width=device-width"> {% seo title=false %}
</head>

<body>
    {% include main-style.html %}

    <div class="page shadow">
        {% include header.html %}

        <div class="container flex-column pad">
            <div class="card donate-card">
                <div class="card-header">
                    <p>To accelerate closing of issues and implementation of new/requested features <strong>you</strong> can become a <i>collaborator</i> or make some <u>donation</u> here:</p>
                </div>
            </div>
            <div class="donate-section-header">
                Payment processors
            </div>
            <div class="flex-row">
                <div class="donate-card-container col-1 col-sm-2">
                    <div class="card donate-card">
                        <div class="card-header">
                            Yandex
                        </div>
                        <div class="card-body">
                            <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/donate.xml?account=41001604541993&quickpay=donate&payment-type-choice=on&default-sum=100&targets=PeyTy%60s+Open+Source+Projects&target-visibility=on&project-name=Hexa%2C+Apps%2C+etc&project-site=https%3A%2F%2Fgithub.com%2FPeyTy%3Ftab%3Drepositories&button-text=01&comment=on&hint=Wishes%3F&successURL=http%3A%2F%2Fpeyty.github.io%2Fthanks.html" width="521" height="204"></iframe>
                        </div>
                    </div>
                </div>
                <div class="donate-card-container col-1 col-sm-2">
                    <div class="card donate-card">
                        <div class="card-header">
                            PayPal
                        </div>
                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=YMXAYTHCDLLUG&source=url">
                        <div class="card-body">
                            <img src="/favicon/paypal.png" width="217" height="51">
                        </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="donate-section-header">
                Recurring donations
            </div>
            <div class="flex-row">
                <div class="donate-card-container col-1 col-sm-2">
                    <div class="card donate-card">
                        <div class="card-header">
                            Patreon
                        </div>
                        <a href="https://www.patreon.com/PeyTy">
                        <div class="card-body">
                            <img alt="Become a Patron" class="" src="/favicon/become_a_patron_button@2x.png" width="217" height="51">
                        </div>
                        </a>
                    </div>
                </div>
                <div class="donate-card-container col-1 col-sm-2">
                    <div class="card donate-card">
                        <div class="card-header">
                            Liberapay
                        </div>
                        <a href="https://liberapay.com/PeyTy">
                        <div class="card-body">
                            <svg xmlns="http://www.w3.org/2000/svg" width="83" height="30">
                                <rect id="back" fill="#f6c915" x="1" y=".5" width="82" height="29" rx="4"/>
                                <svg viewBox="0 0 80 80" height="16" width="16" x="7" y="7">
                                  <g transform="translate(-78.37-208.06)" fill="#1a171b">
                                    <path d="m104.28 271.1c-3.571 0-6.373-.466-8.41-1.396-2.037-.93-3.495-2.199-4.375-3.809-.88-1.609-1.308-3.457-1.282-5.544.025-2.086.313-4.311.868-6.675l9.579-40.05 11.69-1.81-10.484 43.44c-.202.905-.314 1.735-.339 2.489-.026.754.113 1.421.415 1.999.302.579.817 1.044 1.546 1.395.729.353 1.747.579 3.055.679l-2.263 9.278"/>
                                    <path d="m146.52 246.14c0 3.671-.604 7.03-1.811 10.07-1.207 3.043-2.879 5.669-5.01 7.881-2.138 2.213-4.702 3.935-7.693 5.167-2.992 1.231-6.248 1.848-9.767 1.848-1.71 0-3.42-.151-5.129-.453l-3.394 13.651h-11.162l12.52-52.19c2.01-.603 4.311-1.143 6.901-1.622 2.589-.477 5.393-.716 8.41-.716 2.815 0 5.242.428 7.278 1.282 2.037.855 3.708 2.024 5.02 3.507 1.307 1.484 2.274 3.219 2.904 5.205.627 1.987.942 4.11.942 6.373m-27.378 15.461c.854.202 1.91.302 3.167.302 1.961 0 3.746-.364 5.355-1.094 1.609-.728 2.979-1.747 4.111-3.055 1.131-1.307 2.01-2.877 2.64-4.714.628-1.835.943-3.858.943-6.071 0-2.161-.479-3.998-1.433-5.506-.956-1.508-2.615-2.263-4.978-2.263-1.61 0-3.118.151-4.525.453l-5.28 21.948"/>
                                  </g>
                                </svg>
                                <text fill="#1a171b" text-anchor="middle" font-family="Helvetica Neue,Helvetica,Arial,sans-serif" font-weight="700" font-size="14" x="50" y="20">Donate</text>
                              </svg>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="donate-section-header">
                Cryptocurrencies
            </div>
            <div class="flex-row">
                <div class="donate-card-container col-1 col-sm-2">
                    <div class="card donate-card">
                        <div class="mobile card-header">

                        </div>
                        <div class="card-body">
                            <div class="donate-qr">
                                <img class="qr-code" src="">
                            </div>
                            <div class="donate-description">
                                <div class="donate-wallet-name non-mobile">Bitcoin</div>
                                <div class="donate-wallet-description">
                                    <div class="donate-wallet">
                                        3Gp6D7c7XwNEvrFB2CeMtbDTHoQawMjo4n
                                    </div>
                                    <a class="btn btn-blue btn-large space-between" href="bitcoin:3Gp6D7c7XwNEvrFB2CeMtbDTHoQawMjo4n?message=Donation">
                                        Open in wallet
                                        <svg class="svg-inline" aria-hidden="true" data-prefix="far" data-icon="external-link"
                                            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                            <path d="M576 14.4l-.174 163.2c0 7.953-6.447 14.4-14.4 14.4H528.12c-8.067 0-14.56-6.626-14.397-14.691l2.717-73.627-2.062-2.062-278.863 278.865c-4.686 4.686-12.284 4.686-16.971 0l-23.029-23.029c-4.686-4.686-4.686-12.284 0-16.971L474.379 61.621l-2.062-2.062-73.626 2.717C390.626 62.44 384 55.946 384 47.879V14.574c0-7.953 6.447-14.4 14.4-14.4L561.6 0c7.953 0 14.4 6.447 14.4 14.4zM427.515 233.74l-24 24a12.002 12.002 0 0 0-3.515 8.485V458a6 6 0 0 1-6 6H54a6 6 0 0 1-6-6V118a6 6 0 0 1 6-6h301.976c10.691 0 16.045-12.926 8.485-20.485l-24-24A12.002 12.002 0 0 0 331.976 64H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V242.225c0-10.691-12.926-16.045-20.485-8.485z"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="donate-card-container col-1 col-sm-2">
                    <div class="card donate-card">
                        <div class="mobile card-header">

                        </div>
                        <div class="card-body">
                            <div class="donate-qr">
                                <img class="qr-code" src="">
                            </div>
                            <div class="donate-description">
                                <div class="donate-wallet-name non-mobile">Monero</div>
                                <div class="donate-wallet-description">
                                    <div class="donate-wallet">
                                        4B1CTHZprSj8W1AHSaY7FeSh3TicnpBSNJaJ6PiELXkcQYbp7gR2sTy9FCZsh23MmXNn7TeB37b2RTAVRWPN48u1KHU1Wwj
                                    </div>
                                    <a class="btn btn-blue btn-large space-between" href="monero:4B1CTHZprSj8W1AHSaY7FeSh3TicnpBSNJaJ6PiELXkcQYbp7gR2sTy9FCZsh23MmXNn7TeB37b2RTAVRWPN48u1KHU1Wwj?tx_description=Donation">
                                        Open in wallet
                                        <svg class="svg-inline" aria-hidden="true" data-prefix="far" data-icon="external-link"
                                            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                            <path d="M576 14.4l-.174 163.2c0 7.953-6.447 14.4-14.4 14.4H528.12c-8.067 0-14.56-6.626-14.397-14.691l2.717-73.627-2.062-2.062-278.863 278.865c-4.686 4.686-12.284 4.686-16.971 0l-23.029-23.029c-4.686-4.686-4.686-12.284 0-16.971L474.379 61.621l-2.062-2.062-73.626 2.717C390.626 62.44 384 55.946 384 47.879V14.574c0-7.953 6.447-14.4 14.4-14.4L561.6 0c7.953 0 14.4 6.447 14.4 14.4zM427.515 233.74l-24 24a12.002 12.002 0 0 0-3.515 8.485V458a6 6 0 0 1-6 6H54a6 6 0 0 1-6-6V118a6 6 0 0 1 6-6h301.976c10.691 0 16.045-12.926 8.485-20.485l-24-24A12.002 12.002 0 0 0 331.976 64H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V242.225c0-10.691-12.926-16.045-20.485-8.485z"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="donate-card-container col-1 col-sm-2">
                    <div class="card donate-card">
                        <div class="mobile card-header">

                        </div>
                        <div class="card-body">
                            <div class="donate-qr">
                                <img class="qr-code" src="">
                            </div>
                            <div class="donate-description">
                                <div class="donate-wallet-name non-mobile">Ethereum</div>
                                <div class="donate-wallet-description">
                                    <div class="donate-wallet">
                                        0x27e9254b61b1cd8da37a7617ac7714a8c33fddd4
                                    </div>
                                    <a class="btn btn-blue btn-large space-between">
                                        Open in wallet
                                        <svg class="svg-inline" aria-hidden="true" data-prefix="far" data-icon="external-link"
                                            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                            <path d="M576 14.4l-.174 163.2c0 7.953-6.447 14.4-14.4 14.4H528.12c-8.067 0-14.56-6.626-14.397-14.691l2.717-73.627-2.062-2.062-278.863 278.865c-4.686 4.686-12.284 4.686-16.971 0l-23.029-23.029c-4.686-4.686-4.686-12.284 0-16.971L474.379 61.621l-2.062-2.062-73.626 2.717C390.626 62.44 384 55.946 384 47.879V14.574c0-7.953 6.447-14.4 14.4-14.4L561.6 0c7.953 0 14.4 6.447 14.4 14.4zM427.515 233.74l-24 24a12.002 12.002 0 0 0-3.515 8.485V458a6 6 0 0 1-6 6H54a6 6 0 0 1-6-6V118a6 6 0 0 1 6-6h301.976c10.691 0 16.045-12.926 8.485-20.485l-24-24A12.002 12.002 0 0 0 331.976 64H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V242.225c0-10.691-12.926-16.045-20.485-8.485z"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="donate-card-container col-1 col-sm-2">
                    <div class="card donate-card">
                        <div class="mobile card-header">

                        </div>
                        <div class="card-body">
                            <div class="donate-qr">
                                <img class="qr-code" src="">
                            </div>
                            <div class="donate-description">
                                <div class="donate-wallet-name non-mobile">Litecoin</div>
                                <div class="donate-wallet-description">
                                    <div class="donate-wallet">
                                        MJpWH3vENaBzx64sCjGfdStuomTZkiwQfc
                                    </div>
                                    <a class="btn btn-blue btn-large space-between">
                                        Open in wallet
                                        <svg class="svg-inline" aria-hidden="true" data-prefix="far" data-icon="external-link"
                                            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                            <path d="M576 14.4l-.174 163.2c0 7.953-6.447 14.4-14.4 14.4H528.12c-8.067 0-14.56-6.626-14.397-14.691l2.717-73.627-2.062-2.062-278.863 278.865c-4.686 4.686-12.284 4.686-16.971 0l-23.029-23.029c-4.686-4.686-4.686-12.284 0-16.971L474.379 61.621l-2.062-2.062-73.626 2.717C390.626 62.44 384 55.946 384 47.879V14.574c0-7.953 6.447-14.4 14.4-14.4L561.6 0c7.953 0 14.4 6.447 14.4 14.4zM427.515 233.74l-24 24a12.002 12.002 0 0 0-3.515 8.485V458a6 6 0 0 1-6 6H54a6 6 0 0 1-6-6V118a6 6 0 0 1 6-6h301.976c10.691 0 16.045-12.926 8.485-20.485l-24-24A12.002 12.002 0 0 0 331.976 64H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V242.225c0-10.691-12.926-16.045-20.485-8.485z"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include footer.html %}
    </div>
</body>
