<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
	/>
	<meta name="MobileOptimized" content="176" />
	<meta name="yandex-verification" content="901ce5f7e68b781c" />
	<meta name="google-site-verification" content="r9QR0nzVoCSoh04LhsLau403jbzC4weuqk0ypB1LD1g" />

	<title>{{ page.title }} — Hexa Blog</title>
	{% seo title=false %}
</head>

<body>
	{% include blog-style.html %}
	<header>
		<div class="container">
			<nav class="main-nav">
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/blog">Blog</a>
					</li>
				</ul>
			</nav>
			<h1>
				<a href="/">Hexa<strong>News</strong></a>
			</h1>
		</div>
	</header>
	<div class="content">
		<div class="blog-post">
			<h2>{{ page.title }}</h2>
			{{ content }}

			<div class="further-reading">
				<h3>Further Reading</h3>

				<ul>
					{% assign sorted = (site.pages | sort: 'date' | reverse) %}
					<!--

					-->{% for page in sorted %} {% if page.url contains '/blog/index.html' %} {% elsif page.url contains 'blog/' %}
					<li>
						<a href="{{ page.url | absolute_url }}">{{ page.title }}
							<span class="date">{{ page.date | date: "%-d %B %Y" }}</span>
						</a>
					</li>
					{% endif %} {% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<p class="center-text">
				<a href="https://hexalang.github.io">Created by PeyTy</a>
			</p>
		</div>
	</footer>
</body>

</html>
