<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hexa Blog</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="main-nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog.html">Blog</a></li>
          </ul>
        </nav>
        <h1><a href="/">Hexa<strong>News</strong></a></h1>
      </div>
    </header>
    <div class="content">
      {{ content }}
    </div>
    <footer>
      <div class="container">
        <p class="center-text"> <a href="https://hexalang.github.io">Created by PeyTy</a></p>
      </div>
    </footer>
  </body>
</html>
